<a href="https://colab.research.google.com/github/angeliquemembrido/hello-world/blob/main/Copy_of_TRAIN_AWS_Part_I_Pre_Session_2_Homework_%5BSTUDENT%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Homework: Python Basics - Part 2**
---

<a name="p1"></a>

---
## **Part 1: Printing and Concatenation**
---

### **Problem #1.1**
Print a number.

In [1]:
print(2023)

2023

### **Problem #1.2**
Print a day of the week.

In [2]:
print("Thursday")

Thursday

### **Problem #1.3**
Create a variable storing the number `42`. Use this variable to print the following: `"This is a number: <num>"`.

In [3]:
num = 42
print("This is a number: " + str(num))

This is a number: 42

### **Problem #1.4**
Create two variables: one with the city you were born in and the other with the year. Then print, `"I was born in <city> in <year>"`.

In [4]:
city = "San Jose"
year = 1996
print("I was born in " + city + " in " + str(year))

I was born in San Jose in 1996

<a name="p2"></a>

---
## **Part 2: Arithmetic Operators**
---

### **Problem #2.1**
Below are two variables, `x` and `y`. Print the product of the two.

In [6]:
x = 5
y = 6

print(x*y)

30

### **Problem #2.2**
Create three variables, `x`, `y`, and `z` with values 7, 10, and 6, respectively. Print the sum of the three.

In [7]:
x = 7
y = 10
z = 6

print(x + y + z)

23

### **Problem #2.3**
Comment out lines in the cell below so only the number `1` is printed.

In [8]:
#print(0)
print(1)
#print(2)
#print(3)

1

### **Problem #2.4**
What is 99999999 divided by 3? Print the outcome.

In [9]:
print(99999999/3)

33333333.0

<a name="p3"></a>

---
## **Part 3: Lists**
---

### **Use the list `temperatures` below to answer Problems #3.1-3.4.**

In [10]:
temperatures = [60, 66, 42, 38, 71]

### **Problem #3.1**
Replace `42` with `50`.

In [11]:
temperatures[2] = 50
print(temperatures)

[60, 66, 50, 38, 71]

### **Problem #3.2**

Drop value 71.

In [14]:
#temperatures.remove(71)
print(temperatures)

[60, 66, 50, 38]

### **Problem #3.3**

Add value 65.

In [15]:
temperatures.append(65)
print(temperatures)

[60, 66, 50, 38, 65]

### **Problem #3.4**

Replace 65 with 85.

In [16]:
temperatures[4] = 85
print(temperatures)

[60, 66, 50, 38, 85]

### **Use the list `subjects` below to answer Problems #3.5 - 3.9.**

In [17]:
subjects = ["Math", "Physics", "Chemistry", "Biology"]

### **Problem #3.5**

Add Calculus.

In [18]:
subjects.append("Calculus")
print(subjects)

['Math', 'Physics', 'Chemistry', 'Biology', 'Calculus']

### **Problem #3.6**

Drop Math.

In [20]:
subjects.remove("Math")

In [21]:
print(subjects)

['Physics', 'Chemistry', 'Biology', 'Calculus']

### **Problem #3.7**

Replace Physics with AP Physics.

In [22]:
subjects[0] = "AP Physics"
print(subjects)

['AP Physics', 'Chemistry', 'Biology', 'Calculus']

### **Problem #3.8**

Replace Biology with AP Bio.

In [23]:
subjects[2] = 'AP Bio'
print(subjects)

['AP Physics', 'Chemistry', 'AP Bio', 'Calculus']

### **Problem #3.9**

Drop Calculus.

In [24]:
subjects.remove("Calculus")
print(subjects)

['AP Physics', 'Chemistry', 'AP Bio']

<a name="p4"></a>

---
## **Part 4: [OPTIONAL ADVANCED] Build Your Own Data Explorer**
---

In this section, you will code a series of functions of can help us explore and understand the data stored in lists. In the course, we will see more advanced tools that have been written to do just this!

<br>

**NOTE**: This section requires python knowledge that is not necessary for this course such as conditionals (if-elses), loops, and defining functions. As such, this section is only if you want a challenge or are already familiar with these concepts and want to brush up on them.

### **Problem #4.1**

Write a function as described below:
* It is named `average`.
* It takes in 1 parameter, `data`, which is assumed to be a list of numbers.
* It returns the average (or mean) of the numbers in the list.

<br>

**Hint**: Python has built-in functions that may be helpful here-specifically, [`sum(...)`](https://docs.python.org/3/library/functions.html#sum) and [`len(...)`](https://docs.python.org/3/library/functions.html#len). Click on the function names here to read more about them.

In [29]:
def average(data):
  average = sum(data)/len(data)
  return average

average([3, 4, 5, 6])

4.5

### **Problem #4.2**

Write a function as described below:
* It is named `variance`.
* It takes in 1 parameter, `data`, which is assumed to be a list of numbers.
* It returns the variance of the numbers in the list.

<br>

**NOTE**: The variance can be calculated as follows,

$\textbf{variance = sum} \mathbf{\frac{(\text{data}_i - \text{average})^2}{\text{number of data points}}}$

In [30]:
def variance(data):

  avg = average(data)

  result = 0
  for i in range(len(data)):

    result += (data[i] - avg)**2/len(data)

  return result

variance([4, 5, 6, 7, 8])

2.0

### **Problem #4.3**

Write a function as described below:
* It is named `statistics`.
* It takes in 1 parameter, `data`, which is assumed to be a list of numbers.
* It prints the average, variance, minimum, and maximum of the list.
* It returns nothing.

<br>

**Hint**: Python has built-in functions that may be helpful here-specifically, [`min(...)`](https://docs.python.org/3/library/functions.html#min) and [`max(...)`](https://docs.python.org/3/library/functions.html#max). Click on the function names here to read more about them.

In [34]:
def statistics(data):
  print("average: " + str(average(data)))
  print("variance: " + str(variance(data)))
  print("min: " + str(min(data)))
  print("max: " + str(max(data)))

statistics([5, 6, 7, 8])

average: 6.5
variance: 1.25
min: 5
max: 8

### **Problem #4.4**

Write a function as described below:
* It is named `drop_na`.
* It takes in 1 parameter, `data`, which is assumed to be a list of numbers.
* It creates a new list that stores any elements from `data` that *are not* equal to `'NaN'` or `'null'`.
* It returns the new list.

In [36]:
def drop_na(data):

  new_data = []
  for i in range(len(data)):

    if data[i] != "NaN" and data[i] != 'null':
      new_data.append(data[i])

  return new_data

drop_na([4, 5, 6, 'NaN', 10, 'hello', 'null'])

[4, 5, 6, 10, 'hello']

### **Problem #4.5**

Write a function as described below:
* It is named `head`.
* It takes in 2 parameters, `data`, which is assumed to be a list of numbers, and `n`, which is assumed to be an integer less than the size of `data`.
* It prints the first `n` rows of `data` in the format: `ROW NUMBER: DATA IN THAT ROW` where `ROW NUMBER` should go from `0` to `n - 1` and `DATA IN THAT ROW` is the data in rows `0` to `n - 1` respectively.

In [38]:
def head(data, n):

  for i in range(n):
    print(str(i) + ": " + str(data[i]))

head([4, 5, 6, 7], 4)

0: 4
1: 5
2: 6
3: 7

### **Problem #4.6**

If you would like to extend your code further, attempt this problem! Specifically, write a function as described below:
* It is named `is_numerical`.
* It takes in 1 parameter, `data`, which is assumed to be a 2D list (a list where each element is itself a list). The type of element in each list can be anything (numbers, strings, or others).
* It returns a list where the `i`th element is `True` if `data[i]` contains numbers (ints or floats) and `False` otherwise.

In [41]:
def is_numerical(data):
  numerical = []

  for i in range(len(data)):
    if type(data[i][0]) == type(1) or type(data[i][0]) == type(1.5):
      numerical.append(True)
    else:
      numerical.append(False)

  return numerical

is_numerical([[5], [5.6], ["Hello"], [False]])

[True, True, False, False]

### **Problem #4.7**

If you would like to extend your code even further, attempt this problem! Specifically, write a function as described below:
* It is named `statistics_list`.
* It takes in 1 parameters, `data`, which is assumed to be a 2D list (a list where each element is itself a list). The type of element in each list can be anything (numbers, strings, or others).
* It calls the function you wrote above, `statistics`, for every *numerical* sublist, and ignores the other.

In [44]:
def statistics_list(data):
  numerical = is_numerical(data)

  for i in range(len(data)):
    if numerical[i] == True:
      print("Column: " + str(i))
      print(statistics(data[i]))
      print('\n')

statistics_list([[4, 5], ["hello"], [6, 7]])

Column: 0
average: 4.5
variance: 0.25
min: 4
max: 5
None


Column: 2
average: 6.5
variance: 0.25
min: 6
max: 7
None

# End of Notebook

---
© 2023 The Coding School, All rights reserved